/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
	height: 100%;
    width:100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 20px 20px 9px;
	background: linear-gradient(#3AA845, #023D08);
	border: 5vh brown solid;
    /*border-radius: 4vh;*/
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
height: 80px;
width: 47%;
float: right;
font-size: 30px;
line-height: 80px;
color: white;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
text-align: center;
letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 15%;
height: 30%;
	
	background: white;
	/*border-radius: 50%;*/
	
	margin: 0 14.5px 11px 0;
	
	color: #888;
	line-height: 85px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}


/* CUSTOM CSS */

.top div.screen-left{
    float:left;
}

.top{
 margin-bottom:10px;   
}

.keys span{
 color:#fff;   
}

.keys span.ball-one{background-color:yellow; color:#000;}
.keys span.ball-two{background-color:blue;}
.keys span.ball-three{background-color:red;}
.keys span.ball-four{background-color:purple;}
.keys span.ball-five{background-color:orange;}
.keys span.ball-six{background-color:green;}
.keys span.ball-seven{background-color:maroon;}
.keys span.ball-eight{background-color:black;}
.keys span.ball-plus{background-color: rgb(10, 232, 10);}
.keys span.ball-clear{background-color:rgb(224, 0, 213);float: right;margin-right: 16vw;}
.keys span.ball-minus{background-color: rgb(255, 126, 126);}
.keys span.ball-equals{background-color: rgb(123, 123, 221);}

.keys span.black{
 color:black;   
}

.keys span.stripe{
 line-height:4;   
}

.keys span.ball-nine{border-top: yellow solid 6vh;border-bottom: yellow solid 6vh;}
.keys span.ball-ten{border-top: blue solid 6vh;border-bottom: blue solid 6vh;}
.keys span.ball-eleven{border-top: red solid 6vh;border-bottom: red solid 6vh;}
.keys span.ball-twelve{border-top: purple solid 6vh;border-bottom: purple solid 6vh;}
.keys span.ball-thirteen{border-top: orange solid 6vh;border-bottom: orange solid 6vh;}
.keys span.ball-fourteen{border-top: green solid 6vh;border-bottom: green solid 6vh;}
.keys span.ball-fifteen{border-top: maroon solid 6vh;border-bottom: maroon solid 6vh;}

.screen:focus{
 border:blue 4px solid;   
}

body{
 width:100%;
    height:100%;
}

.keys{
 height:80%; 
    overflow: visible;
}

.selected{
 opacity:0.1;    
}

.selected-left{
    box-shadow: 0 0 10px 10px blue;
    position: absolute;
top: 5px;
left: 5px;
right: 5px;
bottom: 5px;
}

.selected-right{
    box-shadow: 0 0 10px 10px red;
}

.pocket{
     position: absolute;
    height: 6vh;
width: 6vh;
    background: transparent;
    /*border-radius: 3vh;*/
}

.left-top-pocket{
top: 2vh;
left: 2vh;
border-left: black solid 3vh;
border-top: black solid 3vh;
}

.left-bottom-pocket{
bottom: 2vh;
left: 2vh;
border-left: black solid 3vh;
border-bottom: black solid 3vh;
}

.right-top-pocket{
top: 2vh;
right: 2vh;
border-right: black solid 3vh;
border-top: black solid 3vh;
}

.right-bottom-pocket{
bottom: 2vh;
right: 2vh;
border-right: black solid 3vh;
border-bottom: black solid 3vh; 
}

.middle-top-pocket {
border-top: solid black 3vh;
top: 2vh;
left: 49vw;
}

.middle-bottom-pocket {
border-bottom: solid black 3vh;
bottom: 2vh;
left: 49vw;
}

#title{
 font-family: 'Lobster', cursive;   
    position: absolute;
    width:100%;
    left: 0;
text-align: center;
font-size: 50px;
top: 7vh;
}